@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after{
  display: block;
  content:"";
  clear:both;
}

.q7_box{
  width: 225px;
}
/* q7-1 */
.q7_float .q7_box{
  float: left;
  margin-left: 50px;
  box-sizing: border-box;
}

.q7_float .q7_box:first-child{
  margin-left: 0;
}
/* q7-2 */
.q7_2_box{
  display: table;
}

.q7_2_box .q7_box{
  display: table-cell;
}

.q7_2_box .q7_box:first-child{
  vertical-align: middle;
}

.q7_2_box .q7_box:last-child{
  padding-left: 50px;
}

.q7_2_text{
  width: 225px;
  box-sizing: border-box;
}
/* q7-3 */
.q7_3_box{
  font-size: 0;
}

.q7_3_box .q7_box{
  display: inline-block;
  width: 225px;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 16px;
}

.q7_3_box .q7_box:first-child{
  margin: 0;
}

.q7_3_box .q7_box:last-child{
  margin-left: 50px;
}

/* q7-4 */
.q7_4_box{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.q7_4_box .q7_box{
  width: 225px;
  box-sizing: border-box;
}
/* q7-5 */
.q7_5_box{
  font-size: 0;
}
.q7_5_left{
  display: inline-block;
  width: 300px;
  font-size: 16px;
  vertical-align: top;
}
.q7_5_right{
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
  font-size: 16px;
}
/* 回答はここに書いてね *
