@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after{
  display: block;
  content:"";
  clear:both;
}
/* q7-1 */
.q7_1_left{
  float: left;
  width: 225px;
  box-sizing: border-box;
}

.q7_1_right{
  float: left;
  width: 225px;
  margin-left: 50px;
  box-sizing: border-box;
}
/* q7-2 */
.q7_2_box{
  display: table;
}

.q7_2_left,.q7_2_right{
  display: table-cell;
}

.q7_2_right{
  padding-left: 50px;
}

.q7_2_left{
  vertical-align: middle;
}

.q7_2_text{
  width: 225px;
  box-sizing: border-box;
}
/* q7-3 */
.q7_3_box{
  font-size: 0;
}

.q7_3_left,.q7_3_right{
  display: inline-block;
  width: 225px;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 16px;
}

.q7_3_right{
  margin-left: 50px;
}
.q7_3_left{
  margin: 0;
}
/* q7-4 */
.q7_4_box{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.q7_4_left,.q7_4_right{
  width: 225px;
  box-sizing: border-box;
}

/* 回答はここに書いてね */
