@charset "UTF-8";

/* 回答はここに書いてね */

.q4_box{
  background-color: #ecf1f2;
  padding: 20px;
}

.up_box >div{
  padding: 20px;
}

.f1{
  background-color: #fdc8b8;
}

.b2{
  background-color: #e0abd9;
}

.f2{
  background-color: #b6d8ed;
}

.down_box >div{
  padding: 20px;
}

.b2{
  background-color: #e5d32e;
}

.b3{
  background-color: #ec8f9a;
}

.f3{
  background-color: #8fdcad;
}

/* 回答はここに書いてね */
