@charset "UTF-8";

/* 回答はここに書いてね */

/* Q6-1 */
.q6_1{
  background-color: #e6f2ff;
  width: 90px;
  padding: 10px 0;
  text-align: center;
  margin: 0 auto;
}

.q6_1_left{
  text-align: center !important;
}

.q6_1_left_text{
  display: inline-block;
}

/* Q6-2 */
.q6_2_table{
  display: table;
}

.q6_2_table_box{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.q6_2_table_text{
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.q6_2_flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.q6_2_flex_text{
  padding: 10px;
  background-color: #fff;
}

.q6_2_position1{
  position: relative;
}

.q6_2_position1_text{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.q6_2_position2{
  position: relative;
}

.q6_2_position2_text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
/* 回答はここに書いてね */
